header{
    font-family: 'Sometype Mono', sans-serif;
    font-style: italic;
    font-weight: bold;
    background-image: url(./img/wall.png);
    div{
        font-size: 80px;
        transform: scaleY(1.2);
    }
}
main{
    background-image: url(./img/cork.png);
}
.card-img{
    width: 300px;
    height: 300px;
    .img-in{
        width: 300px;
    }
}
.card-text{
    width: 332px;
    height: 400px;
    font-size: 20px;
    font-family: 'Edu TAS Beginner', sans-serif;
}
.pin{
    position: relative;
    top: 40px;
    left: 164px;
}
.card-container{
    max-width: 1200px;
}
.cards{
    height: 430px;
    position: relative;
}
.cards:hover{
    .pin{
        display: none;
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overImg{
    width: 500px;
}

.transform-hover{
    transform: scale(1.1) rotate(10deg);
    transition: transform 0.5s ease;
    cursor: pointer;
    position: relative;
    top: 35px;
}
